<!doctype html>

<html lang="it">

    {% include 'modules/head.twig' %}

    <body>

        {% block content %}{% endblock %}

        <script src="assets/js/script.js"></script>

    </body>
</html>
